[submodule "libcork"]
	path = libcork
	url = https://github.com/shadowsocks/libcork.git
    ignore = dirty
[submodule "libipset"]
	path = libipset
	url = https://github.com/shadowsocks/ipset.git
    ignore = dirty
[submodule "libbloom"]
	path = libbloom
	url = https://github.com/shadowsocks/libbloom.git
    ignore = dirty
[submodule "pcre"]
	path = pcre
	url = https://github.com/svn2github/pcre
[submodule "libudns"]
	path = libudns
	url = https://github.com/shadowsocks/libudns.git
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "libev"]
	path = libev
	url = https://github.com/V-E-O/libev.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
